<html>
    <head>
        <title>

        </title>
        
        <link rel="stylesheet" type="text/css" href="../testcss/2registration.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class=regform><h1>Registration From</h1></div>
        <div class="main"> 
            <form action="/2registration" method="post">
                <div id="name">
                    <h2 class="name">Name</h2>
                    <input class="firstname" type="text" name="name"/><br>
                </div>
                <h2 class="name">Batch</h2>
                <input class="batch" type="text" name="batch"/>

                <h2 class="name">Section</h2>
                <input class="section sec" type="text" name="section"/>

                <h2 class="name">Roll Number</h2>
                <input class="roll sec" type="text" name="roll"/>
                <label></label>

                <h2 class="name">Email</h2>
                <input class="email sec" type="text" name="email"/>

                <h2 class="name">Phone</h2>
                <input class="phone sec" type="text" name="phone"/>

                <h2 class="name">Password</h2>
                <input class="Password sec" type="text" name="password"/><br>
                
                    <!--<button type="submit" value="/2registration">Submit</button>-->
                <!--<output></output>-->
                
                <input type="submit" class="sub" value="Submit" />             
            </form>              
        </div>
    </body>
</html>