<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="../testcss/3regevent.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="up">
            <div class=regform><h1>Idea Submission</h1></div>
        <div class="main">
            <form action="/4IdeaSubmission" method="post">
                <h2 class="name">User ID</h2>
                <input class="userId pass" type="text" name="userid">

                <h2 class="name">Password</h2>
                <input class="pass password" type="text" name="password"><br>
                <button>Submit</button>
            </form>              
        </div>
        </div>
        
    </body>
</html>