<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" type="text/css" href="../testcss/4poster.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="up">
            <div class=regform><h1>Poster Presentation</h1></div>
            <div class="main">
                <form action="/7posterpresentation" method="post">
                    <h2 class="name">User ID-1</h2>
                    <input class="userId1 pass" type="text" name="userid1">
    
                    <h2 class="name">ID-1 Password</h2>
                    <input class="pass password1" type="text" name="password1">
                   
                    <h2 class="name">User ID-2</h2>
                    <input class="userId2 pass" type="text" name="userid2">
    
                    <h2 class="name">ID-2 Password</h2>
                    <input class="pass password2" type="text" name="password2"><br>
                    <button>Submit</button>
                </form>              
            </div>
        </div>

    </body>
</html>